In [1]:
# Datasets 
#     - Cluster allocation
#     - transforms
 

# Model loaded

In [13]:
import pandas as pd

In [29]:

test_dataset.__len__()

5794

In [30]:
pd.read_csv("../starting_k/pred_aircraft.csv")

              img  pred
0     1025794.jpg     0
1     0056978.jpg     0
2     0698580.jpg     0
3     1042824.jpg     0
4     1427680.jpg     0
...           ...   ...
4996  1227260.jpg    99
4997  0523140.jpg    99
4998  1340345.jpg    99
4999  0765754.jpg    99
5000  1594714.jpg    99

[5001 rows x 2 columns]

In [32]:
pd.read_csv("../starting_k/pred_scars.csv")

            img  pred
0     00163.jpg     0
1     00707.jpg     0
2     01277.jpg     0
3     02050.jpg     0
4     02848.jpg     0
...         ...   ...
6139  07026.jpg   195
6140  07455.jpg   195
6141  07500.jpg   195
6142  07846.jpg   195
6143  07895.jpg   195

[6144 rows x 2 columns]

In [28]:
pd.read_csv("../starting_k/pred_cub.csv")

                                         img  pred
0         Black_Footed_Albatross_0009_34.jpg     0
1         Black_Footed_Albatross_0014_89.jpg     0
2        Black_Footed_Albatross_0031_100.jpg     0
3     Black_Footed_Albatross_0040_796066.jpg     0
4     Black_Footed_Albatross_0089_796069.jpg     0
...                                      ...   ...
4491     Common_Yellowthroat_0080_190663.jpg   199
4492     Common_Yellowthroat_0087_190414.jpg   199
4493     Common_Yellowthroat_0098_190430.jpg   199
4494     Common_Yellowthroat_0094_190690.jpg   199
4495     Common_Yellowthroat_0037_190698.jpg   199

[4496 rows x 2 columns]

In [1]:
%load_ext autoreload
%autoreload 2

import os 
import sys 
sys.path.append("../")
import argparse

import math
import numpy as np
import torch
import torch.nn as nn
from torch.optim import SGD, lr_scheduler
from torch.utils.data import DataLoader
from tqdm import tqdm

from data.augmentations import get_transform
from data.get_datasets import get_datasets, get_class_splits

import SSB
from SSB.get_datasets.get_gcd_datasets_funcs import get_gcd_datasets
from SSB.utils import load_class_splits

from util.general_utils import AverageMeter, init_experiment
from util.cluster_and_log_utils import log_accs_from_preds
from config import exp_root
from model import DINOHead, info_nce_logits, SupConLoss, DistillLoss, ContrastiveLearningViewGenerator, get_params_groups


from data.cub import get_cub_datasets

/conor/SimGCD-ICCV-Challenge/SSB/SSB/utils.py:56: UserWarning: The dataset path is set to the default value. Consider setting it to a suitable path in your ~/.ssb/ssb_config.json file.
  warnings.warn("The dataset path is set to the default value. "

In [19]:
from train import predict
# gt, pred = prediction()

In [8]:
parser = argparse.ArgumentParser(description='cluster', formatter_class=argparse.ArgumentDefaultsHelpFormatter)
parser.add_argument('--batch_size', default=128, type=int)
parser.add_argument('--num_workers', default=8, type=int)
parser.add_argument('--eval_funcs', nargs='+', help='Which eval functions to use', default=['v2', 'v2p'])

parser.add_argument('--warmup_model_dir', type=str, default=None)
parser.add_argument('--dataset_name', type=str, default='scars', help='options: cifar10, cifar100, imagenet_100, cub, scars, fgvc_aricraft, herbarium_19')
parser.add_argument('--prop_train_labels', type=float, default=0.5)
parser.add_argument('--use_ssb_splits', action='store_true', default=True)

parser.add_argument('--grad_from_block', type=int, default=11)
parser.add_argument('--lr', type=float, default=0.1)
parser.add_argument('--gamma', type=float, default=0.1)
parser.add_argument('--momentum', type=float, default=0.9)
parser.add_argument('--weight_decay', type=float, default=1e-4)
parser.add_argument('--epochs', default=200, type=int)
parser.add_argument('--exp_root', type=str, default=exp_root)
parser.add_argument('--transform', type=str, default='imagenet')
parser.add_argument('--sup_weight', type=float, default=0.35)
parser.add_argument('--n_views', default=2, type=int)

parser.add_argument('--memax_weight', type=float, default=2)
parser.add_argument('--warmup_teacher_temp', default=0.07, type=float, help='Initial value for the teacher temperature.')
parser.add_argument('--teacher_temp', default=0.04, type=float, help='Final value (after linear warmup)of the teacher temperature.')
parser.add_argument('--warmup_teacher_temp_epochs', default=30, type=int, help='Number of warmup epochs for the teacher temperature.')

parser.add_argument('--fp16', action='store_true', default=False)
parser.add_argument('--print_freq', default=10, type=int)
parser.add_argument('--exp_name', default=None, type=str)

# ----------------------
# INIT
# ----------------------
args = parser.parse_args(args=[])

In [23]:
args.dataset_name = "cub"

In [24]:
device = torch.device('cuda:0')

In [25]:
if 'imagenet' in args.dataset_name:
    args.mlp_out_dim = 1000

In [26]:
args.dataset_name

'cub'

In [27]:
if 'imagenet' in args.dataset_name:
    args.mlp_out_dim = 1000
torch.backends.cudnn.benchmark = True

# ----------------------
# BASE MODEL
# ----------------------
args.interpolation = 3
args.crop_pct = 0.875

backbone = torch.hub.load('facebookresearch/dino:main', 'dino_vitb16')

if args.warmup_model_dir is not None:
    backbone.load_state_dict(torch.load(args.warmup_model_dir, map_location='cpu'))

args.image_size = 224
args.feat_dim = 768
args.num_mlp_layers = 3

class_splits = load_class_splits(args.dataset_name)

args.train_classes = class_splits['known_classes']
args.mlp_out_dim = len(class_splits['known_classes']) \
                 + len(class_splits['unknown_classes']['Easy']) \
                 + len(class_splits['unknown_classes']['Medium']) \
                 + len(class_splits['unknown_classes']['Hard'])

# ----------------------
# HOW MUCH OF BASE MODEL TO FINETUNE

# ----------------------
for m in backbone.parameters():
    m.requires_grad = False

# --------------------
# CONTRASTIVE TRANSFORM
# --------------------
train_transform, test_transform = get_transform(args.transform, image_size=args.image_size, args=args)
train_transform = ContrastiveLearningViewGenerator(base_transform=train_transform, n_views=args.n_views)
# --------------------
# DATASETS
# --------------------
train_dataset, test_dataset, unlabelled_train_examples_test, datasets = get_gcd_datasets(args.dataset_name, 
                                                                                        train_transform,
                                                                                        test_transform)

Using cache found in /root/.cache/torch/hub/facebookresearch_dino_main

In [20]:
test_dataset

Dataset CustomImageFolder
    Number of datapoints: 8041
    Root location: /conor/SimGCD-ICCV-Challenge/dataset/Stanford_Cars/car_data/car_data/test

In [18]:
test_loader_labelled = DataLoader(test_dataset, num_workers=args.num_workers,
                                  batch_size=256, shuffle=False, pin_memory=False)

# ----------------------
# PROJECTION HEAD
# ----------------------
projector = DINOHead(in_dim=args.feat_dim, out_dim=args.mlp_out_dim, nlayers=args.num_mlp_layers)
model = nn.Sequential(backbone, projector).to(device)


predict(model, train_loader, None, test_loader_unlabelled, args)

NameError: name 'predict' is not defined